@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-color: #F0F0F0;
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --title-color: #9A9A9C;
    --link-color: #9A9A9C;
    --text-color: #9A9A9C;
    --icon-color: #C7C8C9;
    --border-color: #82b5d4;
    ;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: .75rem;
    position: fixed;
    bottom: 0;
    background: var(--secondary-bg-color);
}

.logo {
    width: fit-content;
    padding: 0.5rem;
}

.footer h3 {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    font-weight: 700;
}

.footer h3:hover {
    cursor: pointer;
    text-decoration: underline;
    font-family: cursive;
    color: var(--border-color);
}

