

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root, :root[data-theme='dark']{
    --primary-color: #F0F0F0;
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --title-color: #9A9A9C;
    --link-color: #9A9A9C;
    --text-color: #9A9A9C;
    --icon-color: #C7C8C9;
    --border-color: #82b5d4; ;
  }

  :root[data-theme='light']{
    --primary-color: #0B0B0F;
    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #C7C8C9;
    --border-color: #C7C8C9;
    --title-color: #0B0B0F;
    --link-color: #28292E;
    --text-color: #28292E;
    --icon-color: #56575A;

  }


#home{
    margin: 0 auto;
    width: 100vw;
    justify-content: center;
    background: var(--primary-bg-color);
    color: #FFF;
    position: absolute;
    margin-top: 100px;
    text-align: center;
}

